<%- include('header'); -%>
  <div class='content'>
   <H1><%= article.name %></H1>
   <p>Category: <%= article.category %></p>
   <p>Supplier: <%= article.supplier %></p>
   <p>Price: <%= article.price %>AED</p>
   <p>VAT: <%= article.vat %></p>
   <p>Stock: <%= article.stock %></p>
   <p>Critical Stock: <%= article.critical_stock %></p>
  </div>
<%- include('footer'); -%>